body{
    margin: 0;
    padding: 0;
  }
  :root{
    --bg:#efe9e3;
    --nc:#e7e2dc;
    --eb: #fdf6f0;
  }
  @font-face {
    font-family: new;
    src: url();
  }
  a{
    text-transform: uppercase;
    text-decoration: none;
    color:blanchedalmond;
    font-size: 20px;
  }
  a:hover{
 
    text-shadow: 2px 2px 12px lightblue;
    
  }
  .img{
    border-left: 2px solid blue;
  }
  .img:hover{
    border-left-color:black ;
    transform: translate(2px);
   

  }

  input[type=email]:focus{
    background-color: #f9f2ec;
    border-radius: 12px;
  }
  input[type=email]:invalid{
 
    background-color: rgb(248, 110, 110);

  }
  input[type=email]:valid{
 
 background-color: rgb(109, 221, 221);

}


/* our student comment shadow*/
#new{
  box-shadow: 2px 2px 12px cornflowerblue;
}
#massage{
  filter:opacity(0.2);

}
#massage:hover{
  filter:opacity(1);
}

#titlehider{
  display:none ;
  position: absolute;
  background-color: white;
  margin: 10px;
  padding:10px;
  color:black;
  text-shadow: none;
  text-transform: uppercase;

}
#parent:hover #titlehider{
      display: block;

}
#icon:hover svg{
  color:rgb(68, 52, 52,0.3);
}
#icon a:hover svg{
  color:black;
  animation: icon 0.6s infinite;

}
@keyframes icon {
  from{transform:translate(0px) ;}
  to{transform:translate(0px,-4px) ;}
  
}
